# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
/ID1214_Project/nbproject/private/
/ID1214_Project/build/
/ID1214_Project/dist/
/ID1214_Project_FX/nbproject/private/
/ID1214_Project_FX/build/
/ID1214_Project_FX/dist/